.articleDetail{
    display: block;
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 4px;
    .title{
        margin-bottom: 20px;
        .name{
            font-size: 30px;
        }
        .info{
            font-size: 20px;
            small{
                margin-right: 20px;
                color: #a0a0a0;
            }
        }
    }
}